{% extends "base.html" %}
{% block content %}
<div class="container">
{% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
{% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
        <script  type="text/javascript">
            $("select[name='tags']").select2();
        </script>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% else %}
    <p>You must be logged-in to access this page</p>
    <a class="btn btn-primary" href="google.com">Login</a>

{% endif %}
</div>
{% endblock %}
